
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<html ng-app="ApplicationModule" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <h1>{{models.helloAngular}}</h1>

    <div ng-view></div>




</body>
</html>

@section scripts{
    <script type="text/javascript" src="@Url.Content(" ~ />Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />MyScripts/Module.js")"></script>
    <script src="~/MyScripts/Services.js"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />MyScripts/ShowEmployeesController.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />MyScripts/AddEmpController.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />MyScripts/EditEmployeeController.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~ />MyScripts/DeleteEmployeeController.js")"></script>
}